@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Element styles */

@keyframes arrowJiggle {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

button:disabled{
  background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

#root {
	height: 100%;
	width: 100%;
}

body {
	background: #f7f7f7;
	font-family: Quicksand;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

.logo {
	width: 30px;
	height: 30px;
}

.logo, .title{
	display: inline;
	margin-right: 10px;
}

.title {
	font-family: Comic Sans MS;
}

.auth-link {
	margin: 10% auto 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
}

.landingHeader {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding-top: 2.5%;
}

.otherHeader {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding-top: 0.5%;
}

ul {
	margin: 5px 0 5px 0;
}

footer {
	background-color: #1d5ab2;
	color: #ffffff;
	height: 50px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20vh;
}

article {
	color: #ffffff;
	align-content: center;
	justify-content: center;
	height: 80%;
	font-weight: bold;
	font-size: 2.8vw;
	margin: 15vh 0 0 10%;
}

article button {
	margin-top: 4.5%;
}

button {
	display: block;
}

/* Classes */

.btn {
	font-style: normal;
	line-height: 22px;
	color: #ffffff;
	cursor: pointer;
	padding: 10px;
}

.btn-2{
	position: relative;
	font-size: 18px;
}

.btn-lg {
	width: 100%;
}

.blue-background {
	background: #1d5ab2;
}
.landing .btn-bg {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	background-color: #ffab57;
}

.btn-bg {
	padding: 20px 40px;
}

.btn-curve {
	border-radius: 37px;
}

.text-center{
	text-align: center;
}

.navlinks {
	list-style: none;
	font-family: Quicksand;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	padding-top: 7px;
}

.navlinks li:nth-child(1) {
	margin-right: 30px;
}

.whitelink li a {
	color: #ffffff;
}

.bluelink li a {
	color: #1d5ab2;
}

.white {
	color: white;
}

.blue {
	color: #1d5ab2;
}

.landing {
	background-color: #1d5ab2;
	width: 100%;
	height: 88vh;
	min-height: 700px;
	border-radius: 0 0 120px 120px;
	flex-wrap: wrap;
	box-sizing: border-box;
}

div .otherHeader {
	background-color: white;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.col {
	display: flex;
	flex-wrap: wrap;
}

.col-5 {
	flex-basis: 50%;
}

.col-6 {
	flex-basis: 60%;
}

.col-4 {
	flex-basis: 40%;
}

.col-8 {
	flex-basis: 80%;
}

.col-2 {
	flex-basis: 20%;
}

.col--5 {
	flex-basis: 48%;
}

.landing-img {
	width: 80%;
	height: 70vh;
	min-height: 470px;
}

.circle {
	border-radius: 100px;
}

.landing-second-section div div img {
	height: 160px;
	width: 160px;
	align-self: center;
}

.landing-second-section div div {
	background-color: #f3f9ff;
	height: 215px;
	width: 215px;
	flex-wrap: wrap;
}

.landing-second-section div {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.landing-second-section {
	margin-top: 10%;
}

.form-width {
	width: 60%;
	max-width: 500px;
	min-width: 300px;
	margin: 1% auto 1% auto;
	text-align: center;
	padding: 40px;
}

.form-width h2 {
	margin-bottom: 40px;
}

.circle p {
	margin-top: 60px;
	text-align: center;
}

.scrolldown img {
	width: 70px;
	height: 70px;
}

.paperSpacing{
	padding: 20px;
	margin: 40px;
}

.scrolldown {
	text-align: center;
	margin-top: -1vh;
	animation: arrowJiggle infinite 2s 1s ease-in-out;
}

.MuiFormControl-root .MuiFormHelperText-root {
	color: #ffab57;
	font-weight: bold;
}

@media screen and (min-width: 1680px) and (max-height: 800px) {
	.landing {
		min-height: 800px;
	}
	article {
		margin-top: 125px;
	}
}

@media screen and (max-width: 850px) {
	article {
		font-size: 20px;
		color: #1d5ab2;
		margin: 0 auto 3vh auto;
		text-align: center;
		display: flex;
		flex-direction: row;
		width: 90%;
	}
	.navlinks li a {
		color: #1d5ab2;
	}
	article button {
		margin-top: 14vh;
	}
	.col {
		display: flex;
		flex-direction: column-reverse;
	}
	.landingHeader *,
	.landingHeader .white {
		color: #1d5ab2;
	}
	.landing {
		background-color: #ffffff;
	}
	.landing-img {
		width: 95vw;
		height: 50vh;
		min-height: 150px;
	}
	.con-center {
		text-align: center;
		margin-top: 5vh;
	}
	.navlinks {
		font-size: initial;
		padding: 0;
		margin: 4px 0 0 0;
	}
	.landingHeader h1,
	.otherHeader h1 {
		font-size: 20px;
	}

	.landingHeader img,
	.otherHeader img {
		width: 20px;
		height: 20px;
	}

	.scrolldown {
		display: none;
	}
	footer {
		margin-top: 0;
	}

	.landing-second-section div {
		flex-direction: column;
		display: none;
	}


	.landing .btn {
		padding: 10px 20px;
		font-size: 15px;
	}
}

@media screen and (max-width: 520px) {
	article {
		margin-top: -6vh;
	}
	.landing .btn-bg {
		margin-top: 20vh;
	}
}

@media screen and (max-width: 920px) and (max-height: 750px) {
	article {
		font-size: 16px;
		margin: 0 auto;
	}
	.landing {
		min-height: 0;
	}
	.landing-img {
		width: 95vw;
		height: 50vh;
		min-height: 50px;
	}
}

@media screen and (max-width: 415px) {
	.form-width {
		padding: 10px;
	}
	.auth-link{
		margin-top: 5%;
	}
	.form-width h2 {
		margin-bottom: 20px;
	}
}

@media screen and (max-height: 415px) {
	.form-width {
		padding-top: 7px;
	}
	
	.auth-link{
		margin-top: 1%;
	}

	.form-width h2 {
		margin-bottom: 10px;
	}
}